.home-container{
    height: 100%;
    padding: 25px;
    overflow-x: hidden;
}
.home-settings-header{
    color: black;
    padding-left: 12px;
    padding-bottom: 12px;
    font-weight: 400;
    font: normal normal normal 18px/21px Rubik;
    text-transform: capitalize;
}
.profile-intro-card{
    background-color: #F7F8F9;
    position: relative;
    height: 90%;
}
.profile-short-desc-con{
    display: flex;
    padding: 15px;
}
.profile-container{
    height: 90px;
    width: 90px;
    position: relative;
}
.profile-img{
    height: 100%;
    width: 90px;
    border-radius: 75%;
    transform: scale(1);
}
.profile-img-upload{
    height: 30px;
    width: 30px;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-weight: bold;
    border-radius: 75%;
    font-size: 12px;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: -10px;
}
.profile-text-container{
    padding-left: 15px;
    color: #1D2226;
}
.profile-text-container h3{
    font-size: 22px;
    font-weight: 500;
    font: normal normal medium 15px/19px Rubik;
}
.profile-text-container p{
    color: #323f4b;
    padding-top: 5px;
    font: normal normal normal 14px/22px Rubik;
    opacity: 1;
}
.profile-desc-home{
    padding-left: 15px;
    color: #323f4b;
    font-size: 18px;
    line-height: 1.5;
}
.hr-dashed{
    margin-top: 15px;
    border: none;
    border-top: dashed 1.5px #CBCBCB;
}
.hr-dashed-bottom{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
    
}