.signup-container{
    height: 100%;
    padding: 20px;
}
.signup-header{
    font-size: 1.8rem;
    width: 50%;
    line-height: 1.5;
}

@media(max-width:420px){
    .signup-header{
        font-size: 1.4rem;
        width: 45%;
    }
}
.sign-in-desc{
    font-size: 18px;
    line-height: 1.5;
    width: 60%;
    color: #6b6b6b;
}
.signup-form{
    height: 80%;
    position: relative;
    margin-top: 2rem;
}

.inp-container{
    position: relative;
    border: 1.5px solid rgb(221, 216, 216);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
.inp-label{
    font-size: 0.9rem;
    color: #7b1fe7;
    display: block;
    position: absolute;
    top: -8px;
    left: 15px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.inp-label span{
    color: red;
}
.inp-input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding-left: 10px;
}
.signup-agency{
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 1.2rem;
}
input[type="radio"] {
    accent-color: purple;
    margin-right: 5px;
    height: 20px;
    width: 20px;
}

.radio-btn-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.signup-form label{
    padding-right: 15px;
    cursor: pointer;
}

.signup-btn{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}